# Markdown Format

# Heading-1
## Heading-2
### Heading-3
#### Heading-4
##### Heading-5
###### Heading-6
####### Heading-7

# Python Basics

## Variable
    - To store a value.
    - To acess the value in different functions,methods.
    - To change value.

In [1]:
a=10

In [2]:
a

10

In [3]:
b=20

In [4]:
b

20

In [6]:
a = 200
b = 'rajesh'
a,b

(200, 'rajesh')

In [8]:
print(a,b)
print(b,a)

200 rajesh
rajesh 200

## Data Types
    - Int -> only numbers
    - Float -> decimal points
    - String -> either with ' or "

In [9]:
c,t = 23.00,'tarun'

In [10]:
print(c,t)

23.0 tarun

In [11]:
c

23.0

## Type
   - To know the data type for that value
   - type(variablename,datastructure)

In [12]:
type(c)

float

In [13]:
g = 'kiran'
g

'kiran'

In [14]:
type(g)

str

In [15]:
print(type(g))

<class 'str'>

## Input()
   - By defalut it will be considered as a string value
   - print(),read()

In [4]:
a = input()
print(a,type(a))

64
64 <class 'str'>

In [2]:
d=20

In [3]:
d

20

In [5]:
t = input("Enter a value: ")
print(t,type(t))

Enter a value: 21
21 <class 'str'>

# Type Casting
  - Converting one data into another data type
  - int(),str(),float()

In [7]:
p = int(input("Enter only integer values: "))
print(p,type(p))

Enter only integer values: 34
34 <class 'int'>

In [8]:
m = float(input("Enter float values: "))
print(m,type(m))

Enter float values: 26
26.0 <class 'float'>

In [14]:
q = int(input("Enter integer values: "))
k = float(input("Enter float values: "))
print("Conversion of int value is: ",float(q))
print("Conversion of float value is: ",int(k))
print("Both cases in string is:"+"''"+str(q)+"''"+" "+"''"+str(k)+"'")

Enter integer values: 48
Enter float values: 45.0218
Conversion of int value is:  48.0
Conversion of float value is:  45
Both cases in string is:''48'' ''45.0218'